.combinators {
  & > p {
    color: $primary;
  }

  & + p {
    color: $brand-color !important;
  }

  & ~ p {
    color: $success;
  }

}

.about {
  border: 1px solid $brand-color;
  @include border-radius(15px);
  padding: 30px;
  margin: 20px auto;

  p {
    color: $primary;
  }
}
.about_1{
  @extend .about;
  p{
    color: $success;
  }
}