// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
  .navbar-brand {
    .bootstrap {
      color: #7952b3;
      &:hover{
        color: $brand-color;
      }
    }

    .sass {
      color: #c04080;
      &:hover{
        color: $brand-color;
      }
    }
  }

  .navbar-nav {
    li {
      a {
        font-size: 15px;
      }

      &.active {
        a {
          color: $brand-color !important;
        }
      }
    }

  }

}